body{
    background-color: RGB(239,239,238);
    margin: 80px;
}

.title {
    font-family: 'Segoe UI Black';
    font-size: 80px;
}

.title2 {
    color: red;
}

.title-html, .title-css, .title-js {
    font-family: 'Segoe UI Semibold';
    font-size: 30px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.html, .css, .js {
    padding: 25px;
    height: 500px;
    transition: all 0.5s;
    border-radius: 15%;
    margin: 10px;
}

.container p {
    font-family: 'Segoe UI Light';
    font-size: 20px;
    text-align: justify;
}

.container img{ 
    display: flex;
    justify-content: flex-end;
    margin: 0px auto;
    height: 250px;
    width: 250px;
}


.html:hover, .css:hover, .js:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
  }